@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

html[dir="rtl"] {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

section h1,
article h1,
nav h1,
aside h1 {
  font-size: 5rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rtl {
  direction: rtl;
  text-align: right;
}
