@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}


html[dir="rtl"] {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

section h1,
article h1,
nav h1,
aside h1 {
  font-size: 5rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rtl {
  direction: rtl;
  text-align: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: white;
}
