@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: "IBMSansArabicRegular";
  src: url("/fonts/IBMPlexSansArabic-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IBMSansArabicMedium";
  src: url("/fonts/IBMPlexSansArabic-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "IBMSansArabicSemiBold";
  src: url("/fonts/IBMPlexSansArabic-SemiBold.ttf") format("truetype");
  font-weight: 600;
}


@font-face {
  font-family: "IBMSansArabicBold";
  src: url("/Fonts/IBMPlexSansArabic-Bold.ttf") format("truetype");
  font-weight: 700;
}

html[dir="rtl"] {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

h1 {
  font-size: 5rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rtl {
  direction: rtl;
  text-align: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFB636;
}

::-webkit-scrollbar-track {
  background-color: white;
}